<h1>Listing sources</h1>

<table>
  <tr>
    <th>Configuration</th>
    <th>Type</th>
    <th>Data</th>
    <th>Include</th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%=link_to source.configuration.name, configuration_path(source.configuration) if source.configuration %></td>
    <td><%=h source.type %></td>
    <td><%=h source.data %></td>
    <td><%=h source.include %></td>
    <td><%= link_to 'Show', source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New source', new_source_path %>